* {
    padding: 0;
    margin: 0;
}
#cursor {
    position: absolute;
    /* transform: translate(-50%, -50%); */
    background-color: tomato;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
